<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Suite</title>
<!-- custom css file link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap" rel="stylesheet">
</head>

<!-- header section starts -->
<header class="header">
    <div class="navbar">
        <i class="fa fa-bars menu-icon" onclick="openMenu()"></i>
        <div id="container">
        <div id="close" onclick="closeMenu()">➕</div>
        <ul id="menu">
            <li><a href="/accommodation">Accommodation</a></li>
            <li><a href="/food">Food</a></li>
            <li><a href="/laundry">Laundry</a></li>
        </ul>
        </div>
        <div class="logo">
            <p>Student Suite</p>
        </div>
        <div class="contactBtn">
            <a href="#contactSection"> <i class="fa-sharp fa-solid fa-envelope" style="color: #000000;" id="contactIcon"></i> </a>
            <div class="contactText">
                <a href="#contactSection">Contact</a>
            </div>
        </div>
        <div class="logoutBtn">
            <a href="/priorLogin"> <i class="fa-solid fa-right-from-bracket" style="color: #000000;" id="logoutIcon"></i></a>
            <div class="logoutText">
                <a href="/priorLogin">logout</a>
            </div>
        </div>
    </div>
</header>

<!-- script for menu starts-->
<script>
    function openMenu()
    {
        document.getElementById('container').style.right='0%';
        document.getElementById('menu').style.opacity='1';
    }
    function closeMenu()
    {
        document.getElementById('container').style.right='-100%';
        document.getElementById('menu').style.opacity='0';
    }
</script>
<!-- script for menu ends-->
<!-- css for menu starts-->
<style>
    .menu-icon
    {
        float: left;
        margin: 30px;
        font-size: 25px;
        cursor: pointer;
        color: #000;
    }
    #close
    {
        margin: 20px;
        float: left;
        color: #000;
        transform: rotate(45deg);
        font-size: 20px;
        cursor: pointer;
    }
    #menu li a{
        display: inline-block;
        padding: 10px;
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        color: #000;
        margin: 5px 0px;
        transition: all 0.3s ease;
    }
    #menu
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        list-style: none;
        text-align: center;
        opacity: 0;
        transition: all 1s ease;
    }
    #container
    {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        background: #e3e7f3;
        text-align: center;
        transition: all 0.6s ease;
    }
    #menu li a:hover
    {
        background-color: #000;
        color: #fff;
    }
    </style>
<!-- css for menu ends -->

<!-- header section ends -->

<body>
<!-- body section starts -->
<!-- img section starts -->
    <div class="body">

    </div>
<!-- img section ends -->

<!-- vision section ends -->
    <div class="vision">
        <h3>OUR VISION</h3>
        <p>Our primary objective is to ease the transition of college freshmen into a new environment. We understand that this phase can be overwhelming and stressful, especially when it comes to finding suitable accommodation, reliable food options, and access to important information about the new city they have moved to. By providing a centralized platform with verified listings and essential details, we aim to simplify their decision-making process and enhance their overall college experience.</p>
        <p>Student Suite is designed to provide accurate and up-to-date information to make informed decisions. By providing a centralized platform, we aim to alleviate these difficulties and streamline the process for freshmen. Our motive is to offer a comprehensive and convenient solution that addresses their various needs in one place.</p>
        <p>We believe that by addressing these challenges, we can help college freshmen feel more comfortable, confident, and settled in their new surroundings. So that they have a smooth transition into college life and can focus on their studies and personal growth without unnecessary stress and distractions.</p>
    </div>
<!-- vision section ends -->

<!-- contact starts -->
<div id="contactSection">
    <div class="container">
        <h2>Contact Us</h2>
        <div class="row100">
            <div class="col">
                <div class="inputBox">
                    <input type="text" required="required">
                    <span class="text">First Name</span>
                    <span class="line"></span>
                </div>
            </div>
            <div class="col">
                <div class="inputBox">
                    <input type="text" required="required">
                    <span class="text">Last Name</span>
                    <span class="line"></span>
                </div>
            </div>
        </div>
        <div class="row100">
            <div class="col">
                <div class="inputBox">
                    <input type="text" required="required">
                    <span class="text">Email</span>
                    <span class="line"></span>
                </div>
            </div>
            <div class="col">
                <div class="inputBox">
                    <input type="text" required="required">
                    <span class="text">Phone Number</span>
                    <span class="line"></span>
                </div>
            </div>
        </div>
        <div class="row100">
            <div class="col">
                <div class="inputBox textarea">
                    <textarea required="required"></textarea>
                    <span class="text">Type your message here.</span>
                    <span class="line"></span>
                </div>
            </div>
        </div>
        <div class="row100">
            <div class="col">
                <input type="submit" value="Send">
            </div>
        </div>
    </div>
</div>
<!-- contact starts -->

<!-- footer starts -->
<footer>
    <div class="branding">
        <h3>Student Suite</h3>
    </div>
    <div class="socials">
        <div class="icons">
            <i class="fa-brands fa-facebook" style="color: #000;"></i>
            <i class="fa-brands fa-instagram" style="color: #000;"></i>
            <i class="fa-brands fa-twitter" style="color: #000;"></i>
            <i class="fa-brands fa-linkedin" style="color: #000;"></i>
            <i class="fa-brands fa-discord" style="color: #000;"></i>
        </div>
    </div>
</footer>
<!-- footer ends -->
<!-- body section ends -->
</body>
</html>

